button {
    padding: .25em 1em;
    font-size: 1.25em;
    color: var(--fg-1); background-color: var(--fg-2);
    border: 0; border-radius: 0px;
    box-shadow: none;
}

button:hover { cursor: pointer }
